<div>
  <div class="row">
    <div class="col">Todo Infos</div>
    @for (todo of todos; track todo) {
      <div class="col">
        {{todo.name}} : {{todo.content}}
        <select
          (change)="onChangeTodo({id: todo.id, status: newStatus.value})"
          #newStatus
          class="form-control">
          @for (statu of status; track statu) {
            <option
              value="{{ statu }}"
              [selected]="todo.status == statu">
              {{ statu }}
            </option>
          }
        </select>
      </div>
    }
  </div>
</div>
