@if (cvs$ | async; as cvs) {
  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        {{today | date:'fullDate':'GMT':'fr' | titlecase}}
        Les cvs ont élé sélctionné {{nbre}} fois;
      </div>
    <app-list [cvs]="cvs"/></div>
    <div class="col"><app-detail-card [cv]="$selectedCv()"/></div>
  </div>
}
<app-embauche/>
<div class="bigDiv">cc</div>
<!-- <app-premier-exemple/> -->
<!-- <input type="number" [(ngModel)]="nbre">
<app-is-even [value]="nbre"/> -->
@defer (on hover; prefetch on viewport) {
  <app-huge/>
  <!-- <h3>Hello World</h3> -->
}
@placeholder (minimum 3s) {
  <h2>Bonjour Huge</h2>
}
